html {
	background-color: #181A1B;
}

body {
	text-align: center;
	padding: 150px;
	font: 20px Helvetica, sans-serif;
	color: #E8E6E3;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 40px;
	color: #5ACE83;
}

article {
	display: block;
	text-align: left;
	width: 650px;
	margin: 0 auto;
}

article footer {
	text-align: right;
}

li {
	display: inline;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: #E8E6E3;
}

.fa:hover {
	opacity: 0.7;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 16px;
	color: #fff;
	background-color: #15883e;
	height: 48px;
	margin-inline: 10px;
}

.project {
	background-color: #46805A;
}

.card {
	padding-bottom: 30px;
}

button:hover .back:hover {
	background-color: #1db954;
}

.back {
	color: #15883e;
}